:root {
  --transparent-grey: rgba(180,180,180,0.35);
}



html, head, body, div, title, p, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

nav {
  margin: 0;
  display: block;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1.5em 0 1.5em 0;
  overflow: hidden;
}

#nav > ul{
  position: relative;
  display: inline-block;
  margin: 0;
  border-left: solid 2px var(--transparent-grey);
  border-right: solid 2px var(--transparent-grey);

}

#nav > ul:before, #nav > ul:after {
  
}

#nav  > ul > li {
  display: inline-block;
  margin: 0.5em 4em 0.5em 4em;
}


#wrapper {
  background-color: red;
}
