@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

:root {
  --transparent-grey: rgba(180,180,180,0.35);
}



html, head, body, div, title, p, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  color: #ccc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15pt;
  font-weight: 300 !important;
  letter-spacing: -0.025em;
  line-height: 1.75em;
}

html {
  height: 100%;
  background-color: white;
}
nav {
  margin: 0;
  display: block;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1.5em 0 1.5em 0;
  overflow: hidden;
}

#nav > ul{
  position: relative;
  display: inline-block;
  margin: 0;
  border-left: solid 2px var(--transparent-grey);
  border-right: solid 2px var(--transparent-grey);
  height: 2em;
  font-size: 1em;
  font-stretch: expanded;

}

#nav > ul:before, #nav > ul:after {
  content: '';
  display: block;
  border: solid 2px var(--transparent-grey);
  position: absolute;
  width: 300%;
  top: 50%;
  margin-top: -2px;
  height: 1px;
}

#nav > ul:before{
  left: 100%;
  margin-left: 1px;
}


#nav > ul:after{
  right: 100%;
  margin-left: 1px;
}

#nav  > ul > li {
  display: inline-block;
  border-radius: 5em;
  margin: 0.5em 1.5em 0.5em 1.5em;
  border-color: transparent;
  font-size: 1.2em;

}

#nav > ul > li > a {
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.4em;
  padding: 0.8em;
  border: solid 1px transparent;
  color: inherit;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

#nav > ul > li > a:hover {
  background-color: white;
  border-color: rgba(192, 192, 192, 0.35);

}


body {
  height: auto;
}

#content {
  text-align: center;
  vertical-align: middle;
  margin-top: 20%;
}


#content > h1 {
  font-size: 8em;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1em;
}


#content > p {
  font-size: 2em;
  margin: 0.75em 0 0.25em 0;
	color: rgb(100,100,100);
	font-weight: 900;
}
